<div id="container-notes">
        <h1>notas</h1>
    {{#each notes}}
        <p>{{title}}</p>
        <p>{{description}}</p>
        <br>
    {{/each}}
    {{!-- {{notes.title}}
    <h1>
    {{notes}} <br> --}}
    </h1>
</div>