<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/vnd.microsoft.icon" href="https://cdn.icon-icons.com/icons2/2107/PNG/512/file_type_favicon_icon_130608.png">
    <link rel="stylesheet" href="/css/main.css">
    <title>Notes app</title>
</head>
<body>
    <header>
        <p>navigation</p>
    </header>
    {{{ body }}}
    <footer>
        <p>footer</p>
    </footer>
</body>
</html>